@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body,html{
    @apply bg-white overflow-x-hidden  antialiased;
}

.dark body{
    @apply bg-black;
}

  .textColor {
    @apply text-white;
  }
  .dark .textColor {
    @apply text-black;
  }
  .custom-div {
    @apply  bg-gray-400 ;
  }
  
  .dark .custom-div {
    @apply text-gray-400;
  }
  .header-div{
    @apply  bg-black;
  }
  .dark  .header-div{
    @apply  bg-white;
  }
  .modeBorder{
    @apply  border-black;
  }
  .dark  .modeBorder{
    @apply  border-white;
  }

  ::-webkit-scrollbar{
    width: 0.7rem;
    }
    ::-webkit-scrollbar-track{
    background: black;
    }
    ::-webkit-scrollbar-thumb{
    background-color: yellow;
    border-radius: 20px;
    border: 2px solid white;
    
    }
    ::-webkit-scrollbar-thumb:hover{
    background-color: rgb(0, 0, 0);
    }